page-intro {

}

.login-content {
    padding: 0 5%;
    padding-top: 40%;
}

.login-content img {
    margin-left: 45%;
}

.login-input {
    color: #757575;

}

.login-button {
    margin-top: 20px;
    margin-left: 1.1em;
    background-color: #f09e68;
    color: #fff;
    padding: 0 9.7em;
}