page-profile {

}

.profile-content {
}

.scroll-content {
    padding: 0 !important;
}

.profile-item {
    //background-image: url("../assets/imgs/profile-back.jpg") !important;
    //background-color: #f09e68;
    background: linear-gradient(-90deg, #f09e68, #f9ad52);;
    //background: @include background-image(linear-gradient(left, #f09e68 0%, #f9ad52 64%, #feb645 100%));
    height: 40%;
}

.avatar img  {
    margin: auto;
    width:100% !important;
    height : 100% !important;
    max-width: 85px !important;  
    max-height: 85px !important;
    margin-bottom: 10px; 
}

.username {
    text-align: center;
}
