page-profile {

}

.profile-content {
}

.scroll-content {
    padding: 0 !important;
}

.profile-item {
    background: linear-gradient(-90deg, #f09e68, #f9ad52);;
    height: 40%;
}

.avatar img  {
    margin: auto;
    width:100% !important;
    height : 100% !important;
    max-width: 85px !important;  
    max-height: 85px !important;
    margin-bottom: 10px; 
}

.username {
    text-align: center;
}
